aiodns==4.0.0
bcrypt==5.0.0
cffi==2.0.0
colorama==0.4.6
email-normalize==2.0.0
loguru==0.6.0
mysql-connector-python==9.6.0
notify_py==0.3.43
pycares==5.0.1
pycparser==3.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.18.0
python-dotenv==1.2.1
win32_setctime==1.2.0
